extends layout

block content
  h1= title
  - let flower = results
  - let items = results
  div(class="container-fluid")
   div(class="row m-1")
    each item in flower
     - let destination = `dispatch(\"/flowers/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") item #{item.flowers_type}(#{item.color}) is #{item.cost}
      button.btn( class="btn-warning ml-1", onclick= destination) Update
     script.
        function dispatch(path){
        window.location.href=path
        }

    table(class="table table-info table-bordered")
        thead
            tr 
                th(scope="col") flowers_type 
                th(scope="col") color 
                th(scope="col") cost
        tbody        
            - for(let i=0;i<flower.length;i++){
                tr
                    td  #{flower[i].flowers_type}
                    td  #{flower[i].color}
                    td  #{flower[i].cost}
            - }